<div id="storyEventsDiv">
  <div class="panel panel-default">
    <div class="panel-body">
      <div style="display:flex;flex-wrap:wrap;justify-content:space-around;">
        <div style="flex-grow:1;margin-right:8px;">
          <a href="#" panel-toggler="#storyEventsDiv div.event-creation-area">
            <h3 style="margin-top:8px;"  l10n-id="stories-event-creation"></h3>
          </a>
          <div class="event-creation-area">
            <div class="entity-management">
              <div>
                <input id="eventNameInput" class="isStoryEditable" l10n-placeholder-id="stories-event-name"></input>
              </div>
              <div>
                <textarea id="eventTextInput" class="eventText isStoryEditable" l10n-placeholder-id="stories-event-descr"></textarea>
              </div>
              <div>
                <span l10n-id="stories-event-position"></span><select id="positionSelector" class="isStoryEditable eventPositionSelector"></select>
                <button id="createEventButton" class="isStoryEditable" l10n-id="common-create"></button>
              </div>
            </div>
          </div>
        </div>
        <div style="flex-grow:1;">
          <a href="#" panel-toggler="#storyEventsDiv div.event-management-area">
            <h3 style="margin-top:8px;" l10n-id="stories-event-management"></h3>
          </a>
          <div class="event-management-area">
            <div class="entity-management">
              <div>
                <select id="moveEventSelector" class="isStoryEditable eventEditSelector"></select> 
                <span l10n-id="stories-event-position"></span><select id="movePositionSelector" class="isStoryEditable eventPositionSelector"></select>
                <button id="moveEventButton" class="isStoryEditable" l10n-id="stories-move-event"></button>
              </div>
              <div>
                <select id="cloneEventSelector" class="isStoryEditable eventEditSelector"></select>
                <button id="cloneEventButton" class="isStoryEditable" l10n-id="stories-clone-event"></button>
              </div>
              <div>
                <select id="mergeEventSelector" class="isStoryEditable eventEditSelector"></select>
                <button id="mergeEventButton" class="isStoryEditable" l10n-id="stories-merge-events"></button>
              </div>
              <div>
                <select id="removeEventSelector" class="isStoryEditable eventEditSelector"></select>
                <button id="removeEventButton" class="isStoryEditable" l10n-id="common-remove"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead id="eventBlockHead"></thead>
        <tbody id="eventBlock"></tbody>
      </table>
    </div>
  </div>
</div>