<div class="player-tab">
  <div class="panel panel-default">
    <div class="panel-body welcome-text-panel">
      <textarea class="welcome-text-area" disabled></textarea>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".player-tab .player-profile-div">
        <h3 class="panel-title player-profile-header" ></h3>
      </a>
    </div>
    <div class="panel-body player-profile-div">
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".player-tab .character-profile-div">
        <h3 class="panel-title character-profile-header"></h3>
      </a>
    </div>
    <div class="panel-body character-profile-div">
    </div>
  </div>
</div>