<div class="text-search-tab">
  <div class="flexRoot">
    <div class="settings-panel">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" l10n-id="text-search-search"></h3>
        </div>
        <div class="panel-body panel-resizable">
          <input class="text-search-input" l10n-placeholder-id="text-search-enter-search-string"></input>
          <div>
            <input type="checkbox" class="textSearchTypeRadio" value="characterProfiles" id="characterProfilesTextSearch"/>
            <label for="characterProfilesTextSearch" l10n-id="text-search-characterProfiles"></label> 
          </div>
          <div>
            <input type="checkbox" class="textSearchTypeRadio" value="playerProfiles" id="playerProfilesTextSearch"/>
            <label for="playerProfilesTextSearch" l10n-id="text-search-playerProfiles"></label> 
          </div>
          <div>
            <input type="checkbox" class="textSearchTypeRadio" value="groups" id="groupsTextSearch"/>
            <label for="groupsTextSearch" l10n-id="text-search-groups"></label> 
          </div>
          <div>
            <input type="checkbox" class="textSearchTypeRadio" value="relations" id="relationsTextSearch"/>
            <label for="relationsTextSearch" l10n-id="text-search-relations"></label> 
          </div>
          <div>
            <input type="checkbox" class="textSearchTypeRadio" value="masterStory" id="masterStoryTextSearch"/>
            <label for="masterStoryTextSearch" l10n-id="text-search-masterStory"></label> 
          </div>
          <div>
            <input type="checkbox" class="textSearchTypeRadio" value="eventOrigins" id="eventOriginsTextSearch"/>
            <label for="eventOriginsTextSearch" l10n-id="text-search-eventOrigins"></label> 
          </div>
          <div>
            <input type="checkbox" class="textSearchTypeRadio" value="eventAdaptations" id="eventAdaptationsTextSearch"/>
            <label for="eventAdaptationsTextSearch" l10n-id="text-search-eventAdaptations"></label> 
          </div><br>
          <div>
            <input type="checkbox" value="eventAdaptations" id="caseSensitiveTextSearch"/>
            <label for="caseSensitiveTextSearch" l10n-id="text-search-case-sensitive-search"></label> 
          </div>
          <button class="text-search-button" l10n-id="text-search-find"></button>
        </div>
      </div>
    </div>
    <div class="result-panel">
    </div>
  </div>
</div>