<div class="groups-tab">

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".groups-tab .group-control-area">
        <h3 class="panel-title" l10n-id="groups-groups"></h3>
      </a>
    </div>
    <div class="panel-body group-control-area">

      <div class="group-management-area">
        <div class="entity-management">
          <div>
            <input class="create-entity-input" l10n-placeholder-id="groups-group-name"></input>
            <button class="create-entity-button" l10n-id="common-create"></button>
          </div>
          <div>
            <select class="rename-entity-select select2-mono-selector">
            </select> <span l10n-id="common-to"></span>
            <input class="rename-entity-input" l10n-placeholder-id="groups-new-group-name"></input>
            <button class="rename-entity-button" l10n-id="common-rename"></button>
          </div>
          <div>
            <select class="remove-entity-select select2-mono-selector">
            </select>
            <button class="remove-entity-button" l10n-id="common-remove"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-tab-navigation"></div>
  <div class="sub-tab-content"></div>
</div>