<div class="profile-filter-tab">

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".profile-filter-tab .group-control-area">
        <h3 class="panel-title" l10n-id="groups-groups"></h3>
      </a>
    </div>
    <div class="panel-body group-control-area">

      <div class="group-editing-area">
        <h3 class="panel-title" l10n-id="groups-show-groups"></h3>
        <div class="entity-management">
          <div>
            <select class="save-entity-select" class="select2-mono-selector">
            </select>
          </div>
          <div>
            <button class="show-entity-button" l10n-id="groups-show-group-filter"></button>
          </div>
          <div>
            <button class="save-entity-button" l10n-id="groups-save-group-filter"></button>
          </div>
        </div>
      </div>

      <div class="group-management-area">
        <h3 class="panel-title" l10n-id="groups-manage-groups"></h3>
        <div class="entity-management">
          <div>
            <input class="create-entity-input" l10n-placeholder-id="groups-group-name"></input>
            <button class="create-entity-button" l10n-id="common-create"></button>
          </div>
          <div>
            <select class="rename-entity-select select2-mono-selector">
            </select> <span l10n-id="common-to"></span>
            <input class="rename-entity-input" l10n-placeholder-id="groups-new-group-name"></input>
            <button class="rename-entity-button" l10n-id="common-rename"></button>
          </div>
          <div>
            <select class="remove-entity-select select2-mono-selector">
            </select>
            <button class="remove-entity-button" l10n-id="common-remove"></button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <table>
    <tr>
      <td>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="#" panel-toggler=".profile-filter-tab div.column-select-area">
              <h3 class="panel-title" l10n-id="profile-filter-show-profile-item"></h3>
            </a>
          </div>
          <div class="panel-body column-select-area">
            <select multiple class="profile-item-selector"></select>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="#" panel-toggler=".profile-filter-tab div.filter-settings-area">
              <h3 class="panel-title" l10n-id="profile-filter-filter"></h3>
            </a>
          </div>
          <div class="panel-body filter-settings-area panel-resizable">
            <span l10n-id="profile-filter-results"></span> <span class="filter-result-size"></span><br>
            <button class="download-filter-table" l10n-id="profile-filter-download-filter-table"></button>
            <br><br>
            
            <div class="filter-settings-panel"></div>
          </div>
        </div>
      </td>
      <td>
        <div class="panel panel-default">
          <div class="panel-body">
            <table  class="table table-striped table-bordered">
            <thead class="filter-head"></thead>
            <tbody class="filter-content"></tbody>
            </table>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>