<div id="aboutDiv">
  <div class="panel panel-default">
    <div class="panel-body">
      <div l10n-id="about-about-authors"></div>
      <br> <span l10n-id="about-site-mention"></span><a href="http://trechkalov.com">trechkalov.com</a> <span
        l10n-id="about-site-description"
      ></span><br>
      <br> <span l10n-id="about-program-is-free-in-rep"></span> <a
        href="https://bitbucket.org/NtsDK/story-master-toolkit-smtk-nims" l10n-id="about-by-link"
      ></a><br>
      <br>
      <div l10n-id="about-icons-authors"></div>
      <br>
      <div l10n-id="about-versions"></div>
      <ul>
        <li l10n-id="about-var052"></li>
        <li l10n-id="about-var044u3"></li>
        <li l10n-id="about-var044u2"></li>
        <li l10n-id="about-var044"></li>
        <li l10n-id="about-var043"></li>
        <li l10n-id="about-var042"></li>
        <li l10n-id="about-var041"></li>
      </ul>

    </div>
  </div>
</div>