<div id="logViewerDiv">
  <div class="panel panel-default">
    <div class="panel-body">
      <label l10n-id="log-viewer-page"></label><select id="logPageSelector"></select>
      <table class="table table-bordered table-striped">
        <thead>
          <th>№</th>
          <th l10n-id="log-viewer-date"></th>
          <th l10n-id="log-viewer-user"></th>
          <th l10n-id="log-viewer-action"></th>
          <th l10n-id="log-viewer-params"></th>
        </thead>
        <tbody id="logData"></tbody>
      </table>
    </div>
  </div>
</div>