/*Copyright 2015 Timofey Rechkalov <ntsdk@yandex.ru>, Maria Sidekhmenova <matilda_@list.ru>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
   limitations under the License. */

body {
  background-color: #ABABAB;
}

.block {
  padding: 8px;
}

.block table td {
  vertical-align: top;
}

.hidden {
  display: none;
}


#navigation {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(171, 171, 171, 0.25);
  z-index: 1;
}

#contentArea {
    margin: 32px 0 0;
}

.navigation-button {
  flex-grow: 0;
/*   padding: 10px 12px; */
  padding: 6px 8px;
  background-color: rgb(221, 221, 221);
/*   margin: 0px 2px; */
  border: none;
}

.action-button:not(:last-of-type),
.navigation-button:not(:last-of-type) {
    border-right: 1px solid grey;
}

.navigation-button:hover, .navigation-button:focus{
  background-color:  #ccc;
}

.navigation-button.active {
  color: #FFF;
  background-color: #337AB7;
}

.action-button {
  flex-grow: 0;
  width: 48px;
/*   margin: 0px 2px; */
  border: none;
}

.nav-separator {
  flex-grow: 1;
}

.mainNavButton{
  background-color:  rgb(221, 221, 221) !important;
  background: transparent url("../images/folder29.svg") no-repeat scroll 50% 50%;
/*   background-size: 40px; */
  width: 44px;
  background-size: 28px;
}

.mainNavButton:hover{
  background-color:  #ccc  !important;
}

#dataLoadButton, #toggleL10nButton{
  background-image: url("../images/folder29.svg");
}
#dataSaveButton{
  background-image: url("../images/download149.svg");
  
}
#newBaseButton{
  background-image: url("../images/file11.svg");
}
#mainHelpButton{
  background-image: url("../images/question5.svg");
}
#logoutButton{
  background-image: url("../images/exit22.svg");
}
#testButton{
  background-image: url("../images/long-checklist.svg");
}
#aboutButton{
  background-image: url("../images/copyright.svg");
}

#chatButton{
  background: transparent url("../images/chat55.svg") no-repeat scroll 50% 0%;
}

#accessManagerButton{
  background: transparent url("../images/business20.svg") no-repeat scroll 50% 50%;
}
#timelineButton{
  background: transparent url("../images/time39.svg") no-repeat scroll 50% 50%;
}
#socialNetworkButton{
  background: transparent url("../images/share41.svg") no-repeat scroll 50% 50%;
}
#filterButton{
  background: transparent url("../images/rightarrow7.svg") no-repeat scroll 50% 50%;
}
#logViewerButton{
  background: transparent url("../images/monuments.svg") no-repeat scroll 50% 50%;
}
#groupsButton{
  background: transparent url("../images/shared-folder.svg") no-repeat scroll 50% 50%;
}
#textSearchButton{
  background: transparent url("../images/textSearch.svg") no-repeat scroll 50% 50%;
}

#accessManagerButton, 
#chatButton, 
#timelineButton, 
#socialNetworkButton, 
#filterButton, 
#logViewerButton, 
#groupsButton,
#textSearchButton
{
  background-color:  rgb(221, 221, 221);
/*   width: 50px; */
/*   background-size: 35px; */
  width: 44px;
  background-size: 28px;
}

#accessManagerButton:hover, 
#chatButton:hover,
#timelineButton:hover, 
#socialNetworkButton:hover, 
#filterButton:hover, 
#logViewerButton:hover,
#groupsButton:hover,
#textSearchButton:hover
{
  background-color:  #ccc;
}

#accessManagerButton.active, 
#chatButton.active, 
#timelineButton.active, 
#socialNetworkButton.active, 
#filterButton.active, 
#logViewerButton.active,
#groupsButton.active,
#textSearchButton.active
{
  color: #FFF;
/*   background-color: #337AB7; */
  background-color: rgb(204,133,72);
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

#dataLoadButton input {
  filter: alpha(opacity = 0);
  opacity: 0;
  height: 40px;
  width: 50px;
}

#storiesNavigationLeft, 
#storiesNavigationRight, #briefingsNavigation,
.sub-tab-navigation
{
  display: flex;
}

.panel, .panel-body {
  background-color: #ededed;
}

.panel-body {
    padding: 8px;
}

.panel{
  margin-bottom: 8px;
/*   box-shadow: 2px 4px 4px rgba(0,0,0,0.3); */
}

.common-info-div span{
  width: 100%;
  display: inline-block;
  text-align: right;
}

.panel-heading {
  padding: 8px 12px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 16px;
    margin-bottom: 8px;
}

legend{
  margin-bottom: 8px;
}

label{
  margin-bottom: 4px;
}

.table {
    margin-bottom: 8px;
}

.table > tbody > tr > td, .table > tbody > tr > th, 
.table > tfoot > tr > td, .table > tfoot > tr > th, 
.table > thead > tr > td, .table > thead > tr > th{
  padding: 6px;
}

.common-info-div table{
  margin: 0;
}

.diagram-container{
  display: flex; 
  flex-direction: column;
}

.diagram-subcontainer{
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}

/* :focus { */
/*   outline: 3px solid red; */
/* } */

input[selector-filter]{
  width: 100%;
}

.checkbox-label{
  display: block;
  width: 28px;
  height: 28px;
  margin: auto;
  text-align: center;
  border-radius: 4px;
  background: transparent url(../images/check-grey.svg) no-repeat scroll 50% 50%;
  background-size: 27px;
}

#eventPresenceTable .vertical-aligned-td,
#story-characterActivityTable .vertical-aligned-td{
  vertical-align: middle;
}

input[type="checkbox"]:checked + .checkbox-label{
  background: transparent url(../images/check.svg) no-repeat scroll 50% 50%;
  background-size: 27px;
}

.flexRoot {
  display: flex;
}

textarea[readonly],
select[disabled]{
  background-color: #eee;
}

.remove-ul-dots{
  list-style-type: none;
}

.zero-padding{
  padding: 0;
}

.list-content-padding{
  padding-left: 40px;
}

.inline-panel {
  display: inline-block;
}
