/*Copyright 2015 Timofey Rechkalov <ntsdk@yandex.ru>, Maria Sidekhmenova <matilda_@list.ru>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
   limitations under the License. */

/** full screen experiments */ 
.full-screen{
/*  position: absolute; */
/*  top:0; */
/*  left:0; */
/*  width: 100vw !important; */
/*   height: 100vh !important; */
}

.fullScreenButton{
/*  position: relative; */
/*  top:20px; */
/*   left:20px; */
}
/* full screen experiments **/ 

/** East express colouring */
input:hover,
textarea:hover,
button:hover,
.navigation-button:hover,
.action-button:hover,
select:hover
 {
/*  background-color: red !important; */
/*  border: 3px solid green !important; */
/*  color: white !important; */
/*  font-size:20px !important; */
/*  font-weight: bold !important; */
}

.panel, .panel-body {
/*   background-color: greenyellow !important; */
}
/* East express colouring **/


/** auroresizable textareas */
/* textarea[autoresize] { */
textarea.autoresizable {
  display: block;
  overflow: hidden;
  resize: none;
}
/* auroresizable textareas **/