<div class="master-management-tab">
  <div style="display: flex;justify-content: space-between;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="#" panel-toggler=".master-management-tab div.user-management-area">
          <h3 class="panel-title" l10n-id="admins-user-management"></h3>
        </a>
      </div>
      <div class="panel-body user-management-area">
        <div class="entity-management">
          <div>
            <input class="adminOnly create-user-name-input" l10n-placeholder-id="admins-user-name"></input>
            <input class="adminOnly create-user-password-input" l10n-placeholder-id="admins-user-password"></input>
            <button class="adminOnly create-user-button" l10n-id="common-create"></button>
          </div>
          <div>
            <select class="adminOnly change-password-user-select"></select> 
            <input class="adminOnly change-password-password-input" l10n-placeholder-id="admins-new-password"></input>
            <button class="adminOnly change-password-button" l10n-id="admins-change-password"></button>
          </div>
          <div>
            <select class="adminOnly remove-user-select"></select>
            <button class="adminOnly remove-user-button" l10n-id="common-remove"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="#" panel-toggler=".master-management-tab div.special-actions-area">
          <h3 class="panel-title" l10n-id="admins-special-actions"></h3>
        </a>
      </div>
      <div class="panel-body special-actions-area" style="display: flex;justify-content: space-between;">
        <div class="entity-management">
          <div>
            <span l10n-id="admins-admin"></span><span class="current-admin-label"></span>
          </div>
          <div>
            <select class="adminOnly assign-admin-select"></select>
            <button class="adminOnly assign-admin-button" l10n-id="admins-assign-admin"></button>
          </div>
          <div>
            <span l10n-id="admins-editor"></span><span class="current-editor-label"></span>
            <button class="editorOrAdmin remove-editor-button" l10n-id="admins-remove-editor"></button>
          </div>
          <div>
            <select class="adminOnly assign-editor-select"></select>
            <button class="adminOnly assign-editor-button" l10n-id="admins-assign-editor"></button>
          </div>
        </div>
        <div class="entity-management">
          <div>
            <span l10n-id="admins-assign-adaptation-rights"></span>
          </div>
          <div>
            <input type="radio" name="adaptationRights" class="adaptationRights adminOnly" value="ByStory"
              id="adaptationRightsByStory"
            >
            <label for="adaptationRightsByStory" l10n-id="admins-by-stories"></label>
          </div>
          <div>
            <input type="radio" name="adaptationRights" class="adaptationRights adminOnly" value="ByCharacter"
              id="adaptationRightsByCharacter"
            >
            <label for="adaptationRightsByCharacter" l10n-id="admins-by-characters"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" l10n-id="admins-editing-rights"></h3>
      </div>
      <div class="panel-body" style="display:flex;">
        <div>
          <span l10n-id="admins-rights"></span>
          <div class="permission-table"></div>
        </div>
        <div>
          <table>
            <tr>
              <th l10n-id="admins-characters"></th>
              <th l10n-id="admins-stories"></th>
              <th l10n-id="admins-groups"></th>
              <th l10n-id="admins-players"></th>
              <th l10n-id="admins-users"></th>
            </tr>
            <tr>
              <td>
                <input selector-filter=".master-management-tab .permission-selector__characters"><br>
                <select size=15 class="permission-selector__characters" multiple></select>
              </td>
              <td>
                <input selector-filter=".master-management-tab .permission-selector__stories"><br>
                <select size=15 class="permission-selector__stories" multiple></select>
              </td>
              <td>
                <input selector-filter=".master-management-tab .permission-selector__groups"><br>
                <select size=15 class="permission-selector__groups" multiple></select>
              </td>
              <td>
                <input selector-filter=".master-management-tab .permission-selector__groups"><br>
                <select size=15 class="permission-selector__players" multiple></select>
              </td>
              <td>
                <select size=10 class="user-permission-select" style="min-width: 96px;"></select>
              </td>
            </tr>
          </table>
          <button class="assign-permission-button" l10n-id="admins-assign-rights"></button>
          <button class="adminOnly remove-permission-button" l10n-id="admins-take-away-rights"></button>
        </div>
      </div>
    </div>
  </div>
</div>
