<div class="profile-binding-tab">
   <div class="panel panel-default">
    <div class="panel-body">
      <div>
        <span l10n-id="binding-characters"></span>
        <input selector-filter=".profile-binding-tab .character-selector"><br>
        <select class="character-selector" size="20"></select>
      </div>
      <div>
        <span l10n-id="binding-players"></span>
        <input selector-filter=".profile-binding-tab .player-selector"><br>
        <select class="player-selector" size="20"></select>
        <div>
          <button class="create-binding-button" l10n-id="binding-bind"></button>
        </div>
      </div>
      <div>
        <span l10n-id="binding-characters-players"></span>
        <input selector-filter=".profile-binding-tab .binding-selector"><br>
        <select class="binding-selector" size="20"></select>
        <div>
          <button class="remove-binding-button" l10n-id="binding-unbind"></button>
        </div>
      </div>
    </div>
  </div>
</div>