<div class="profile-editor-tab">
  <div class="panel panel-default">
    <div class="panel-heading entity-management">
      <div>
        <select class="character-profile-selector common-select"></select>
        <select class="player-profile-selector common-select"></select>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".profile-editor-tab .player-profile-div">
        <h3 class="panel-title" l10n-id="profiles-player-profile"></h3>
      </a>
    </div>
    <div class="panel-body player-profile-div">
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".profile-editor-tab .character-report-div">
        <h3 class="panel-title" l10n-id="profiles-character-report"></h3>
      </a>
    </div>
    <div class="panel-body character-report-div">
      <table class="table table-bordered table-striped">
        <thead>
          <th l10n-id="profiles-story"></th>
          <th l10n-id="profiles-activity" colspan="4"></th>
          <th l10n-id="profiles-completness"></th>
          <th l10n-id="profiles-meets"></th>
          <th l10n-id="profiles-inventory"></th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" panel-toggler=".profile-editor-tab .character-profile-div">
        <h3 class="panel-title" l10n-id="profiles-character-profile"></h3>
      </a>
    </div>
    <div class="panel-body character-profile-div">
    </div>
  </div>
</div>