<div class="role-grid-tab">
  <div class="panel panel-default">
    <div class="panel-heading">
      <select class="grouping-select" multiple="multiple" style="width:400px;"></select>
    </div>
  </div>
  
  <div class="group-content"></div>
</div>