<div id="socialNetworkDiv">
  <div id="socialNetworkWarning" class="alert alert-warning"></div>
  <div>
    <div class="storySelectorContainer" id="commonSettingsContainer">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#" panel-toggler="#socialNetworkDiv div.storySelectorContainer div:nth-child(3)">
            <h3 class="panel-title" l10n-id="briefings-settings"></h3>
          </a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <span l10n-id="social-network-show-node"></span><br>
          <select id="nodeFocusSelector"></select>
          <div>
            <input id="showPlayerNamesCheckbox" type="checkbox"></input><label for="showPlayerNamesCheckbox"  l10n-id="social-network-show-player-names"></label>
          </div>
        </div>
      </div>
      <div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" l10n-id="social-network-common-settings"></h3>
          </div>
          <div class="panel-body">
            <a href="#" panel-toggler="#socialNetworkDiv div.network-coloring-area">
              <h4 l10n-id="social-network-color-nodes"></h4>
            </a> 
            <div class="network-coloring-area">
              <select id="networkNodeGroupSelector"></select> <br>
              <span l10n-id="social-network-legend"></span>
              <div id="colorLegend"></div>
            </div>
  
            <a href="#" panel-toggler="#socialNetworkDiv div.network-filter-area">
              <h4 l10n-id="social-network-selection"></h4> 
            </a>
            
            <div class="network-filter-area">
              <select size=3 id="networkSubsetsSelector"></select>
              
              <div id="networkCharacterDiv" class="hidden">
                <h4 l10n-id="social-network-characters"></h4> 
                <input selector-filter="#networkCharacterSelector"><br>
                <select id="networkCharacterSelector" multiple></select>
              </div>
    
              <div id="networkStoryDiv" class="hidden">
                <h4 l10n-id="social-network-stories"></h4> 
                <input selector-filter="#networkStorySelector"><br>
                <select id="networkStorySelector" multiple></select>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" l10n-id="social-network-private-settings"></h3>
          </div>
          <div class="panel-body">
            <a href="#" panel-toggler="#socialNetworkDiv div.network-type-area">
              <h4 l10n-id="social-network-social-network"></h4> 
            </a>
            
            <div class="network-type-area">
              <select size=4 id="networkSelector"></select>
    
              <div id="activityBlock" class="hidden">
                <h4 l10n-id="social-network-activity"></h4> <select size=4 id="activitySelector" multiple></select>
              </div>
            </div>
  
            <button id="drawNetworkButton" l10n-id="social-network-draw"></button><br>
<!--               <button id="hideNetworkSettingsButton" l10n-id="social-network-hide-panel"></button> -->
          </div>
        </div>
      </div>
    </div>

<!--         <div class="storySelectorContainer2 hidden" -->
<!--           id="showSettingsButtonContainer"> -->
<!--           <button id="showNetworkSettingsButton">+</button> -->
<!--         </div> -->

    <div class="visualObjectContainer full-screen-elem" id="socialNetworkContainer"></div>
  </div>
  <div>
    <div id="Stats-output"></div>
    <div id="gui-settings-output"></div>
    <div id="WebGL-output"></div>
  </div>
</div>